---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpg}",
);

if (!images[heroImage])
  throw new Error(
    `"${heroImage}" does not exist in glob: "src/assets/*.{png}"`,
  );
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="flex justify-center mb-16">
      <article class="mt-16 w-full">
        <div>
          {
            heroImage && (
              <Image
                width={1020}
                height={510}
                src={images[heroImage]()}
                alt="Colorful Banner"
                class="m-auto"
              />
            )
          }
        </div>
        <div class="prose m-auto px-4">
          <div>
            <div>
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1>{title}</h1>
            <div class="divider divider-primary"></div>
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
